:root {
  --fc-border-color: #0e2b54;
  --fc-small-font-size: 0.85em;
}

.fc .fc-col-header-cell-cushion {
  /* needs to be same precedence */
  padding-top: 10px; /* an override! */
  padding-bottom: 10px; /* an override! */
}

.calendar {
  padding: 5px;
  border: 3px solid #0e2b54;
}
