@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

.freshman,
.sophomore,
.junior {
  background-color: #0e2b54;
  border-style: inset;
  border-radius: 30px;
  border-color: #ffffff;
  border-width: 5px;
}

.freshman:hover,
.sophomore:hover,
.junior:hover {
  background-color: #a8a6cd;
  border-style: dashed;
}

.magazineTitle, .monthTitle  {
  font-family: "Baskervville SC" !important;
  color: #ffffff;
  text-shadow: 1px 1px 10px #0e2b54;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.dropdown-item:hover {
  transform: scale(1.05);
  .monthTitle {
    border-style: dashed;
  }
}

.monthTitle {
  font-family: "Baskervville SC" !important;
  color:#ffffff;
  border-style: inset;
  border-width: 3px;
  border-radius: 30px;
  width: 37.5rem;
}

.magazine-pdf {
  padding-top: 15px;
}
