.head-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1e6;
  border-bottom: 1px solid black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-item {
  /* text */
  font-family: "ivymode";
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: var(--Main-Blue, #0c2b56);
  font-weight: 500;
  line-height: normal;
  list-style: none;
  width: auto;
  position: relative;
}

.nav-menu-item:hover {
  transform: scale(1.05);
}

.logo-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.junior-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 20px;
}

/* Dropdown Container */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
}

.nav-dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content .nav-menu-item {
  padding: 12px 16px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content .nav-menu-item:hover {
  background-color: #f1f1f1;
}
