.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 0; /* Adjust padding as needed */
    margin: 0; /* Remove any default margin */
    text-align: center; /* Center the text */
  }
  
  .icons-container {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .icons {
    display: flex;
    gap: 15px; /* Adjust the gap between icons */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .logo-ref img {
    height: 25px;
    width: 25px;
    margin: 0; /* Remove any margin around images */
    padding: 0px; /* Reduce padding around images */
  }
  