@keyframes downwardsSlide {
  from {
      transform: translateY(-600px);
  }
  to {
      transform: translateY(0);
  }
}
@keyframes rightwardsSlide {
  from {
      transform: translateX(-600px);
  }
  to {
      transform: translateY(0);
  }
}
@keyframes leftwardsSlide {
  from {
      transform: translateX(600px);
  }
  to {
      transform: translateY(0);
  }
}

.home-page {
  background-color: #ddd5f3;
  color: #0e2b54;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes content to take up available space */
}

.navbar {
  animation-name: rightwardsSlide;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* Title and Slideshow horizontally spaced across the screen */
.title-slideshow {
  animation-name: leftwardsSlide;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title {
  flex: 1;
  padding-top: 20px;
  margin-right: 20px;
  text-align: left; /* Align title to the left */
}

.slideshow {
  flex: 1;
  margin-left: 20px;
}

/* Schedule and DateTimeDisplay left-aligned */
.date,
.schedule {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

/* Calendar and Magazine horizontally spaced across the screen */
.calendar-magazine {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensures both children have the same height */
  width: 100%;
}

.calendar,
.magazine {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column; /* Allows for further content alignment within the elements */
}

.magazine {
  margin-right: 0; /* Remove margin on the right side of the magazine */
}

.footer {
  background-color: white;
  text-align: center;
  padding: 20px; /* Add some padding to the footer */
  margin-top: auto; /* Pushes the footer to the bottom */
  width: 100%;
}
