* {
  box-sizing: border-box;
}

.home-page {
  background-color: #ddd5f3;
  color: #0e2b54;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 110px; /* Adjust to match the footer height */
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 1;
}

.title-slideshow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.title {
  flex: 1;
  margin-right: 20px;
  padding-top: 20px;
}

.slideshow {
  flex: 1;
}

.date {
  margin-bottom: 20px;
}

.schedule {
  margin-bottom: 20px;
}

.calendar-magazine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.calendar,
.magazine {
  flex: 1;
  margin-right: 20px;
}

.calendar:last-child {
  margin-right: 0;
}

.footer {
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
}
