@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

.jprom-page {
  background-color: #ede8f5;
  color: #0e2b54;
  min-height: 100vh; /* Allows the content to extend beyond the viewport */
  width: 100vw;
  overflow-x: hidden; /* Prevents horizontal overflow */
  overflow-y: auto; /* Allows vertical scrolling */
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  width: 100%;
}

.caption {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start; 
  border-style: inset;
  border-radius: 25px;
  padding: 20px;
  background-color: #0e2b54;
  font-weight: 400;
  border-width: 3px;
  margin-bottom: 300px;
}

.caption-container{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;

}