@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');

 .home-page {
  margin: 0;
  padding: 0;
  background-image: url("./patternhomepage.svg") !important;
  background-size: cover;
  background-color: #c9c7ef;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-items: center;
  }

  .jprom-link {
    padding-top: 3em;
  display: flex;
  justify-content: center;
  gap: 2em;   
  flex-wrap: wrap;

  }

  .link-text {
    text-decoration: none;
    color: #433f83;
    font-family: "Sahitya", serif !important;
    font-size: 1.5em !important;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 4px 40px #444484; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .banner-title {
    font-family: "Newsreader" !important;
    font-weight: 800;
    font-style: italic;
    font-size: 2em !important;
  }

  .banner-text{
    font-family: "Newsreader" !important;
    font-size: 1.1em !important;
    padding: 15px;
    border: 3px solid #444484;
    border-radius: 10px;
  }

  .banner-button{
    margin-top: 20px !important; 
  }

  .banner {
    width: 100%;  
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    max-width: 40%;
    box-shadow: 1px 4px 40px #444484; 
  }

  .info-page{
    opacity: 85%;
    width: 100%;  
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    max-width: 85%;
  }

  .info-title{
    font-family: "Sahitya", serif !important;
    font-size: 5em !important;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .info-text{
    font-family: "Newsreader" !important;
    padding-top: 20px;
    max-width: 50%;
    font-size: 1.3em !important;
  }

  .slideshow {
    padding-top: 20px;
  }

  .QNA {
    opacity: 85%;
    margin: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    min-width: 85%;
    border-radius: 25px;
    padding: 1em;
  }
  .QNA-title {
    font-family: "Sahitya", serif !important;
    font-size: 5em !important;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .QNA-question {
    position: relative;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    border-radius:25px;
    text-align: left;
    padding: 10px;
  }
  .QNA-question:hover {
    background-color: #d3d3d3;
  }
  .QNA-question::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent ;
    vertical-align: middle;
    float: right;
    transition: transform 0.3s ease-in-out;
    line-height: 1.5;
    transform: translateY(100%);
}
  .rotate-arrow::after {
    transform: translateY(100%) rotate(180deg);
  }

  
  .QNA-answer {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 25px;
    padding-left: 2em;
  }
  
  .MuiCollapse-wrapper {
    transition: max-height 0.5s ease-in-out;
  }
  

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      filter: blur(15px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @media screen and (max-width: 430px) {
    .banner {
      max-width: 90%;
    }

    .banner-text{
      max-width: 80%;
      font-family: "Newsreader" !important;
      font-size: 0.9em !important;
      padding: 15px;
      border: 3px solid #0e4187;
      border-radius: 10px;
    }

    .info-text{
      font-family: "Newsreader" !important;
      padding-top: 20px;
      max-width: 80%;
      font-size: 1.3em !important;
    }
  
  } 
